body {
  margin: 0;
  background-color: #bcddec;
}
.App {
  background-image: url("./notebook.jpg");
  height: 300vh;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  
}
h1 {
  color: rgb(6, 60, 97);
  font-size: 100px;
  font-family: 'Permanent Marker', cursive;
  margin-top: 20px;
  margin-bottom: 5px;
}
.container {
  display: flex;
  justify-content: center;
}
.crossed {
  text-decoration: line-through 2px rgb(190, 189, 189);
  color: rgb(190, 189, 189);
}
ul, li {
  font-family: 'Permanent Marker', cursive;
  list-style-type: none;
  padding: 10px;
}
ul {
  margin-top: 80px;
}
li {
  font-size: 30px;
  color: rgb(9, 91, 145);
}
.btn {
  font-family: 'Permanent Marker', cursive;
  padding: 10px;
  border: none;
  width: 30%;
  color: white;
  font-size: 24px;
}
.add {
  margin-top: 10px;
  background: #68a3be;
}
.delete {
  margin-top: 40px;
  margin-bottom: 5px;
  background: #d30100;
  
}
input {
  width: 50%;
  padding: 15px;
  margin: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px 20px 10px 10px;
}
.red {
  align-self: flex-end;
}
.imagepen {
  margin-top: 80px;
}


@media all and (max-width: 940px) {
  ul {
    margin-top: 40px;
  }
  .App {
    height: 100vh;
  }
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .imagepen {
    width: 200px;
  }
  input {
    margin-top: 5px;
    width: 70%;
  }
  .btn {
    width: 50%;
  }
  li {
    font-size: 20px;
    margin: 0;
    padding: 3px;
  }
}

  @media all and (max-width: 540px) {
    .App {
      height: 90vh;
    }
    h1 {
      font-size: 30px;
    }
    input {
      font-size: 16px;
      padding: 5px;
    }
    .btn {
      font-size: 18px;
    }
    ul {
    margin-top: 10px;
  }
    li {
      font-size: 18px;
    }
     .imgcheck {
      width: 16px;
    }
  }

  @media all and (max-width: 376px) {
    h1 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .imgcheck {
      width: 14px;
    }
    .delete {
      margin-top: 20px;
    }
    ul {
      margin-top: 20px;
    }
  }
